<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.2/dist/katex.min.css" integrity="sha384-bYdxxUwY4z1Oysd8DRAjaYd57dC3CceEXvOrW62LlOMNmrjsZWzJZBApBCGl7KFp" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.2/dist/katex.min.js" integrity="sha384-Qsn9KnoKISj6dIYL7d42b9L0oA+3/Kz8KxUSkMyWTIj+4lEvLjsG/AkTCsI0INUF" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.2/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURPlLNmPLqskeXPNSWJmG3TxtgDGH3oMMpxz/rDu8rzkGaGVxqsCxN" crossorigin="anonymous"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
            delimiters: [
                {left: '$$', right: '$$', display: true},
                {left: '$', right: '$', display: false},
                {left: '\\(', right: '\\)', display: false},
                {left: '\\\[', right: '\\\]', display: true}
            ]
        });
    });
</script>
